@font-face { font-family: AutumnFlowers; src: url('./fonts/AutumnFlowers.otf'); } 



/* asset images */
.header-asset-img {
    width: 100px;
}

.asset-img {
    width: 50px;
    margin-left: 6px;
}

/* flex */
.flex-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


/* link */
.links {
    text-decoration: none;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
}

a {
    text-decoration: none;
    color: rgb(61, 58, 58);
}

a:hover {
    font-weight: bold;

}

/* text, headings, fonts */
 .borderbottom, .headings {
    font-size: 25pt;
    border-bottom: 3px solid black;
    margin-left: 20px;
    padding-bottom: 10px;
 }

 .type-style {
    text-indent: 40px;
    font-size: 12pt;
    margin: 20px;
 }

 .disclaimers {
    font-size: 10px;
    text-indent: 20px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
 }

/* buttons */

.btn {
    background-color:rgb(0, 0, 0);
    width: 60%;
    height: 30px;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
}





/* nav */
.flex-row-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px;
}




/* side navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden; 
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #857b7b;
  }
  

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* hero */

  #hero {
    position: relative;
    width: 100vw;
    height: 400px;
    background: url(./images/luxaryhome-hero2.jpeg);
    background-size: cover;
    background-position: center center;
  }

  .hero-content {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
  }

  .hero-title {
    font-family: AutumnFlowers;
    color: rgb(0, 0, 0);
    font-size: 400%;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #d8d7cc, 0 0 30px #c2bf6f, 0 0 50px #000000, 0 0 60px #c2bf6f, 0 0 70px #c2bf6f;
}

    .hero-subtitle {
        color: white;
        font-size: 150%;
        margin-top: 20px;
        margin-bottom: 40px;
        background-color: black;
    }

    .hero-button {
        background-color: rgb(0, 0, 0);
        padding: 15px;
        border: none;
        border-radius: 20%;
        box-shadow:  0 0 3px 3px rgb(175, 153, 153);
    }

/* Welcome */

.welcomeintro {
    margin: 0 auto;
    margin: 20px;
}

#welcome {
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to bottom, #a69b9b, #ffffff)
}

.sheri-tilton {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
}


/* Listed homes  */

#listings {
    margin-bottom: 40px;
}

.grid-layout {
    display: grid;
    margin: 50px 20px;
    grid-template-columns: 4;
    grid-template-rows: 4;
}

.home-one {
    grid-column: 2/3;
    grid-row: 1;
}

.home-two {
    grid-column: 1;
    grid-row: 2/3;
}

.home-three {
    grid-column: 2/3;
    grid-row: 3;
}


.listed-home {
    width: 100%;
    display: block;
    margin: 0 auto;
    
}

/* Virtual call */
.virtual-calls {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.virtual-calls {
    margin: 0 auto;
    margin: 20px;
    margin-top: 60px;
}
.virtual-call-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}




/* footer */

#footer {
    margin-top: 40px;
    padding: 20px;
    background-color: grey;
    background: linear-gradient(to bottom,  #ffffff, #a69b9b);
    border-top: 3px solid black;
    margin-top: 40px;
}

.align-left {
    text-align: left;
}


figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
}

figcaption {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.link-align {
    flex-direction: row;
    font-size: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.equal-housing-img {
    width: 50px;
}

.contactinfo {
    line-height: 150%;
    font-size: 10pt;
    margin-bottom: 20px;
    margin-left: 3%;
    font-family:sans-serif;
}

@media  screen and (min-width: 1000px) {
    .flex-row {
        flex-direction: row;
    }

    .type-style {
        width: 60%;
        margin: auto;
     }

     #welcome, #listings, #virtual-tours {
        width: 90vw;
        margin: 0 auto;
        padding: 5%;
     }

     .listed-home {
        width: 80%;
     }

     .virtual-call-img {
        width: 40%;
     }
}