@font-face { font-family: AutumnFlowers; src: url('./fonts/AutumnFlowers.otf'); } 



/* asset images */
.header-asset-img {
    width: 100px;
}

.asset-img {
    width: 60px;
    margin-left: 20px;
}

/* flex */
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


/* link */
.links {
    text-decoration: none;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(161, 140, 140);
    text-shadow: 0 0 3px #694545;
}

/* text, headings, fonts */
 .borderbottom, .headings {
    font-size: 25pt;
    border-bottom: 3px solid black;
    margin-left: 20px;
    padding-bottom: 10px;
 }

 .type-style {
    font-size: 12pt;
    margin: 20px;
 }

 .disclaimers {
    font-size: 10px;
    text-indent: 20px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
 }

/* buttons */

.btn {
    background-color:rgb(0, 0, 0);
    width: 60%;
    height: 30px;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
}





/* nav */
.flex-row-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px;
}




/* side navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden; 
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #a69b9b;
  }
  

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* hero */

  #hero {
    position: relative;
    width: 100vw;
    height: 400px;
    background: url(./images/luxaryhome-hero2.jpeg);
    background-size: cover;
    background-position: center center;
  }

  .hero-content {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
  }

  .hero-title {
    font-family: AutumnFlowers;
    color: rgb(0, 0, 0);
    font-size: 100px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #d8d7cc, 0 0 30px #c2bf6f, 0 0 50px #000000, 0 0 60px #c2bf6f, 0 0 70px #c2bf6f;
}

    .hero-subtitle {
        color: white;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
        background-color: black;
    }

    .hero-button {
        background-color: rgb(0, 0, 0);
        padding: 15px;
        border: none;
        border-radius: 20%;
        box-shadow:  0 0 3px 3px rgb(175, 153, 153);
    }

/* Welcome */

.welcomeintro {
    margin: 0 auto;
    margin: 20px;
}


/* Listed homes  */

.all-listed-homes {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.listed-home {
    width: 50%;
    display: block;
    margin: 0 auto;
    
}

/* Virtual call */
.virtual-calls {
    margin: 0 auto;
    margin: 20px;
}
.virtual-call-img {
    width: 30%;
}



/* footer */

#footer {
    margin-top: 40px;
    padding: 20px;
    background-color: grey;
}

.align-left {
    text-align: left;
}

figure {
    display: flex;
    flex-direction: column;
}

figcaption {
    margin-left: 20px;
    font-size: 10px;
}