@font-face { font-family: AutumnFlowers; src: url('./fonts/AutumnFlowers.otf'); } 



/* asset images */
.asset-img {
    width: 100px;
}

/* flex */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* nav */
.flex-row-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px;
}

.hero-title {

}




/* side navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden; 
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #a69b9b;
  }
  

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* hero */

  #hero {
    position: relative;
    width: 100vw;
    height: 200px;
    background: url(./images/luxeryhome-hero1.jpeg);
    background-size: cover;
    background-position: center center;
  }

  .hero-content {
    position: relative;
  }